numpy
pandas
Flask
Flask-CORS
scikit-learn
requests
Pillow
markupsafe
python-dotenv
google-generativeai
openai
PyPDF2
pytesseract
pdf2image
pymongo
dnspython
redis
flask-redis
celery
flower
flask-socketio
python-socketio
python-engineio
gunicorn
eventlet
gtts
flask-jwt-extended
flask-limiter
flask-caching
